.main {
    box-sizing: border-box;
    min-height: 618px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #404040; */
    background-color: #333333;
}

.movies {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1rem;
    
    padding: 2rem 12rem;
}

.card-movie {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.pagination {
    padding: 0;
    margin: 1rem 2rem 4rem 2rem;
    display: flex;
}

.prevAndNext {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.disabledButton {
    display: none;
}