@import url("../styles/global.css");

.movie {
    box-sizing: border-box;
    height: 100%;
    border-radius: 4px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.lightMovie {
    background-color: #e50914;
}

.darkMovie {
    background-color: #5A5A5A;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top:  0;
}

.stats {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    top: 2%;
    left: 2%;
    color: #F0F0F0;
}

.lightSpan {
    background-color: #e50914;
}

.darkSpan {
    background-color: #404040;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #404040;
    color: #F0F0F0;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}

.title {
    font-size: 16px;
    color: #F0F0F0;
}